extends layout
include components/post
include components/new-post

block main
  if (referrer)
    a#back(role='button', class='btn btn-sm mb-2', href=referrer)
      svg(
        xmlns='http://www.w3.org/2000/svg',
        fill='none',
        viewbox='0 0 24 24',
        stroke-width='1.5',
        stroke='currentColor',
        class='h-6 w-6'
      )
        path(
          stroke-linecap='round',
          stroke-linejoin='round',
          d='M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18'
        )
      | Back
  +post(post, true)
  div(class='mt-4')
    +new-post(`/posts/${post.id}/reply`, 'Write a reply...', 'Reply')
  div(class='divider')
    | Replies
  div(class='flex flex-col gap-4')
    each reply in replies
      +post(reply, false)
    else
      include includes/empty-posts
