extends layout
include includes/mixins

block main
  button#back(class='btn btn-sm mb-2')
    svg(
      xmlns='http://www.w3.org/2000/svg',
      fill='none',
      viewbox='0 0 24 24',
      stroke-width='1.5',
      stroke='currentColor',
      class='h-6 w-6'
    )
      path(
        stroke-linecap='round',
        stroke-linejoin='round',
        d='M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18'
      )
    | Back
  +post(post, true)
  script.
    const backButton = document.querySelector('#back');
    console.log(backButton);
    backButton.onclick = () => history.back();
