extends layout
include components/post
include components/new-post

block main
  if (error)
    include components/alert-error
    +alert-error(error)
  if (referrer)
    a#back(role='button', class='btn btn-sm mb-2')
      svg(
        xmlns='http://www.w3.org/2000/svg',
        fill='none',
        viewbox='0 0 24 24',
        stroke-width='1.5',
        stroke='currentColor',
        class='h-6 w-6'
      )
        path(
          stroke-linecap='round',
          stroke-linejoin='round',
          d='M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18'
        )
      | Back
  +post(post, true)
  div(class='mt-4')
    +new-post(`/posts/${post.id}/reply`, 'Write a reply...', 'Reply')
  div(class='divider')
    | Replies
  div(class='flex flex-col gap-4')
    each reply in replies
      +post(reply, false)
    else
      include includes/empty-posts
  script.
    const url = `${location.origin}${location.pathname}`;
    if (!document.referrer) {
      sessionStorage.setItem('referrers', JSON.stringify([url]));
    } else {
      const refs = JSON.parse(String(sessionStorage.getItem('referrers')));
      const backBtn = document.getElementById('back');
      if (!location.search.includes('error')) {
        sessionStorage.setItem('referrers', JSON.stringify([...refs, url]));
      } else {
        refs.pop();
      }
      if (!refs.length) {
        backBtn.remove();
      } else {
        backBtn.href = refs.pop();
        backBtn.onclick = () => sessionStorage.setItem('referrers', JSON.stringify(refs));
      }
    }
